<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SiteUrl" value="https://sonyapc.sharepoint.com/sites/S039-iHR-Archival/SES/Accounting/" />
		<add key="ListName" value="SG_Claims_Data" />
		<add key="FilePath" value="C:\Users\7000036422\Pictures\SG\FY24-2"/>
	</appSettings>
</configuration>